@import "tailwindcss";
@import "./tom_select_overrides.css";
@import "./google_sign_in.css";

@layer components {
  .action-button-base {
    @apply inline-flex items-center justify-center h-12 px-6 rounded text-base font-normal;
  }

  .plus-button {
    @apply mx-auto flex items-center justify-center w-10 h-10 bg-[#5F7F67] hover:bg-[#4A6652] rounded-full text-white;
  }

  .trash-button {
    @apply absolute inline-flex items-center justify-center h-10 w-10 rounded bg-red-600 hover:bg-red-500 font-medium text-white cursor-pointer;
  }

  .primary-button {
    @apply inline-flex items-center justify-center h-10 w-24 rounded bg-[#5F7F67] hover:bg-[#4A6652] text-base font-normal text-white cursor-pointer;
  }

  .cancel-button {
    @apply inline-flex items-center justify-center h-10 w-24 rounded border border-gray-300 bg-gray-100 hover:bg-gray-50 text-base font-normal;
  }

  .non-printable-badge {
    @apply inline-flex items-center justify-center w-18 px-2 py-1 rounded-xl border border-red-600 bg-red-50 font-bold text-[10px];
  }
}

@layer utilities {
  @media print {
    @page {
      margin: 16mm 20mm;
    }

    .print-area {
      display: block !important;
      width: 100%;
      margin: 0 !important;
      padding: 0 !important;
    }

    .print-area table {
      page-break-inside: avoid;
    }

    .print-break-before {
      break-before: page;
      page-break-before: always;
    }
  }
}
