<div id="<%= dom_id treatment %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Treated on:</strong>
    <%= treatment.treated_on %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= treatment.description %>
  </div>
</div>
