<div id="<%= dom_id medication %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Started on:</strong>
    <%= medication.started_on %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= medication.name %>
  </div>
</div>
