- content_for :title, 'Medications'

.w-full.max-w-4xl.mx-auto
  / プログレスバー
  .my-5
    = render 'shared/progress_bar'

  / ページ説明
  .my-8.max-w-4xl.mx-auto.px-4
    h3.font-medium.text-center.text-xl
      | 使用している薬の入力
    .my-3.text-sm
      p
        | 💡 ご利用方法
        br
        | 使用開始日を入力しなくても保存できます。薬は入力する必要があります。

  / 一覧
  #medications
    - @medications.each do |medication|
      = render medication

  / 新規作成フォーム
  = turbo_frame_tag 'first_medication' do
    - if @medications.empty?
      = render 'form', medication: Medication.new

  = turbo_frame_tag Medication.new

  / 新規作成ボタン
  = link_to t('views.common.new'), new_medication_path,
            class: 'rounded-full w-8 h-8 mx-auto flex items-center justify-center bg-[#5F7F67] hover:bg-[#4A6652] text-white font-medium',
            data: { turbo_frame: dom_id(Medication.new) }
