- content_for :title, '使用している薬の入力'

.w-full.max-w-4xl.mx-auto
  .my-5
    = render 'shared/progress_bar'

  .my-8.px-4
    h3.font-medium.text-center.text-xl
      | 使用している薬の入力
    .my-3.text-sm
      p
        | 💡 ご利用方法
        br
        | 使用開始日を入力しなくても保存できます。薬名は入力する必要があります。

  #medications
    - @medications.each do |medication|
      = render 'medications/medication', medication: medication

  = turbo_frame_tag 'new_form' do
    - if @medications.empty?
      = render 'form', medication: Medication.new

  = link_to '＋',
            new_medication_path,
            data: { turbo_frame: 'new_form' },
            class: 'rounded-full w-8 h-8 mx-auto flex items-center justify-center bg-[#5F7F67] hover:bg-[#4A6652] text-white font-medium'

  = render 'shared/navigation', previous_path: products_path, next_path: allergies_path
