.text-center.mt-8
  h1 class='text-xl sm:text-4xl font-bold'
    | 皮膚科での「何だっけ？」をなくす、
    br.sm:hidden
    | スキンケアの履歴書

.mt-10.text-center.text-base.sm:text-xl
  p
    | 皮膚科の問診や診察の場で、
    br.sm:hidden
    | 思い出す手間を減らし、
    br.sm:hidden
    | 正確な情報を伝えるためのアプリです。

  p.mt-6
    | スキンケアや処方薬、美容施術の履歴を
    br.sm:hidden
    | 一つにまとめ、
    br.sm:hidden
    | 診察時に医師へそのまま見せられます。

div class='max-w-2xl mx-auto my-10 bg-[#F2F5F2] px-6 py-2 shadow border border-gray-200 rounded-md'
  p class='mt-4 text-base sm:text-xl font-bold'
    | 💡 ご利用方法
  p.my-4.mx-4.text-sm.sm:text-base
    | ログインなしでもすぐに使えます。
    br.sm:hidden
    | 保存したい場合はログインが必要です。

.flex.flex-col.items-center.mt-10.gap-4
  = link_to 'Googleアカウントでログイン', '/auth/google_oauth2', class: 'sm:w-64 rounded-md text-center px-4 py-4 bg-[#5F7F67] hover:bg-[#4A6652] text-white font-medium'
  = link_to 'ログインせずに履歴書を作成', products_path, class: 'sm:w-64 rounded-md text-center px-4 py-4 bg-[#5F7F67] hover:bg-[#4A6652] text-white font-medium'
