= turbo_stream.append 'allergies', @allergy
= turbo_stream.update Allergy.new, ''
= turbo_stream_flash

= turbo_stream.replace 'save_button' do
  = render 'shared/resume_save_button', resume: @resume, next_action: :draft
