- content_for :title, 'アレルギー歴の入力'

.w-full.max-w-4xl.mx-auto
  / プログレスバー
  .my-5
    = render 'shared/progress_bar'

  / ページ説明
  .my-8.max-w-4xl.mx-auto.px-4
    h3.font-medium.text-center.text-xl
      | アレルギー歴の入力
    .my-3.text-sm
      p
        | 💡 ご利用方法
        br
        | アレルギー名を選択または入力してください。

  / 一覧
  #allergies
    - @allergies.each do |allergy|
      = render allergy

  / 新規作成フォーム
  = turbo_frame_tag dom_id(Allergy.new) do
    - if @allergies.empty?
      = render 'form', allergy: Allergy.new

  / 新規作成ボタン
  = link_to t('views.common.new'), new_allergy_path,
            class: 'rounded-full w-8 h-8 mx-auto flex items-center justify-center bg-[#5F7F67] hover:bg-[#4A6652] text-white font-medium',
            data: { turbo_frame: dom_id(Allergy.new) }

  / 前へ次へボタン
  = render 'shared/navigation', previous_path: medications_path, next_path: treatments_path
