- content_for :title, 'アレルギー歴の入力'

.w-full.max-w-4xl.mx-auto
  .my-5
    = render 'shared/progress_bar'

  .my-8.px-4
    h3.font-medium.text-center.text-xl
      | アレルギー歴の入力
    .my-3.text-sm
      p
        | 💡 ご利用方法
        br
        | アレルギー名を選択または入力してください。

  #allergies
    - @allergies.each do |allergy|
      = render 'allergies/allergy', allergy: allergy

  = turbo_frame_tag 'new_form' do
    - if @allergies.empty?
      = render 'form', allergy: Allergy.new

  = link_to '＋',
            new_allergy_path,
            data: { turbo_frame: 'new_form' },
            class: 'rounded-full w-8 h-8 mx-auto flex items-center justify-center bg-[#5F7F67] hover:bg-[#4A6652] text-white font-medium'
