- content_for :title, '使用しているスキンケアの入力'

.w-full.max-w-4xl.mx-auto
  / プログレスバー
  .my-5
    = render 'shared/progress_bar'

  / ページ説明
  .my-8.max-w-4xl.mx-auto.px-4
    h3.font-medium.text-center.text-xl
      | 使用しているスキンケアの入力
    .my-3.text-sm
      p
        | 💡 ご利用方法
        br
        | 使用開始日を入力しなくても保存できます。スキンケアは入力する必要があります。

  / 一覧
  #products
    - @products.each do |product|
      = render 'products/product', product: product

  / 新規作成フォーム
  = turbo_frame_tag 'new_form' do
    - if @products.empty?
      = render 'form', product: Product.new

  / 新規作成ボタン
  = link_to t('views.common.new'),
            new_product_path,
            data: { turbo_frame: 'new_form' },
            class: 'rounded-full w-8 h-8 mx-auto flex items-center justify-center bg-[#5F7F67] hover:bg-[#4A6652] text-white font-medium'

  / 前へ次へボタン
  = render 'shared/navigation', previous_path: nil, next_path: medications_path

  / 一時保存ボタン(未ログイン時のみ)
  .flex.justify-center.mt-10
    - if !current_user
      = form_with url: guest_skincare_resume_path, method: :patch, data: { turbo: false } do |form|
        = form.hidden_field :status, value: :draft
        = form.submit '一時保存する', class: 'w-40 rounded-md text-center px-3.5 py-2 bg-[#5F7F67] hover:bg-[#4A6652] text-white font-medium'
